body {
	font-family: 'Roboto', 'Open Sans', 'sans-serif';
}

.jumbotron {
	background-color: #ece9ef;
}

.learn-more {
	background-color: #241f64;
	border: #16133f;
}

.learn-more:hover {
	background-color: #49449c;
}
